body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #fff;
  margin: 0;
  padding: 15px;
}

.card {
  background: #1e293b;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

input, button {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

button {
  background: #22c55e;
  color: #000;
  font-weight: bold;
}

.hidden {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}